

body{
  background-color: white;


}


.one{
  color:orange;


}

.two{
  background-color:purple;
  height:100px;
  width:200px;

}


#footer {
	height: 50px;
	background-color: grey;
	font-family: serif;
	font-size: 20px;
	text-align: center;
	color: blue;
}

#footer p {
	padding-top: 15px;
}
