
*{
  font-family: serif;

}

.topRow{
   position: relative;
   border: 20px solid grey;

}

body{
  background-color: black;
  border: 5px solid yellow;
  margin: 2px;

}

h2{
  font-weight:bold;
  font-size: 25px;
  color:white;
  border: 10px 20px solid white;
}

ul,li,p{
  font-size: 20px;
  color:white;
}

#topRow {
	position: fixed;
	width: 95%;
	margin: 0px auto;
	height: 100px;
	background-color: grey;
  border: 2px solid white;
}


#footer {
	height: 50px;
	background-color: grey;
	font-size: 20px;
	text-align: center;
	color: blue;
}
