
*{
  font-family: serif;

}



.topRow{
   position: relative;
   border: 20px solid grey;

}

body{
  background-color: black;

}

h2{
  font-weight:bold;
  font-size: 25px;
  color:white;
}

ul,li,p{
  font-size: 20px;
  color:white;
}

#topRow {
	position: fixed;
	width: 100%;
	margin: 10px 20px; 
	height: 100px;
	background-color: grey;
}


#footer {
	height: 50px;
	background-color: grey;
	font-size: 20px;
	text-align: center;
	color: blue;
}
